@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

.navigation {
    position: fixed;
    text-align: -webkit-center;
    text-align: center;
    top: 0px;
    height: 70px;
    width: 100%;
    background: white;
    overflow: hidden;
    border: 1px solid teal;
    z-index: 10000000;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: right;
    justify-content: right;
    padding: 25px;
    font-size: 22px;
    float: right;
}

.h1 {
    margin: 0;
    top: 25px;
}

.nav-links {
    position: relative;
    color: black;
    border-radius: 3px;
    padding: 10px;
    right: 5px;
    bottom: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    font-family: 'Cormorant', serif;
}

.nav-links:hover {
    position: relative;
    color: teal;
    background: rgba(4, 167, 167, 0.404);
    /* width: 100px; */
    /* height: 100px; */
}

ul {
    display: flex;
    flex: 1;
}

li {
    list-style-type: none;
    padding: 0.3rem;
}

.active {
    text-decoration: underline;
    color: teal;
  }

  .navsite {
      position: absolute;
      left: 10px;
      font-family: 'Pinyon Script', cursive;
      font-size: 35px;
      font-weight: 500;
      color: navy;
      height: 10px;
  }